<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcpbuYACXvqVQ5pGjYn8T9ylkYRB5FUPY</string>
	<key>GCM_SENDER_ID</key>
	<string>818234225160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dontgas</string>
	<key>PROJECT_ID</key>
	<string>dontgas-836cc</string>
	<key>STORAGE_BUCKET</key>
	<string>dontgas-836cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818234225160:ios:2b7e5eeded7f9f6a8797bd</string>
</dict>
</plist>